<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
  {%if not data %}
    <p>Wrong source</p>
  {%elif id == -1%}
    <p>Product not found</p>
  {%else %}
    <table>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
      {%if not id%}
      {%for items in data%}
      <tr>
        <td>{{items["name"]}}</td>
        <td>{{items["category"]}}</td>
        <td>{{items["price"]}}</td>
      </tr>
      {%endfor%}
      {%else%}
      <tr>
        <td>{{ data["name"] }}</td>
        <td>{{ data["category"] }}</td>
        <td>{{ data["price"] }}</td>
      </tr>
      {%endif%}
    </table>
  {%endif%}
</body>
</html>